table td:nth-child(1) {
    min-width: 3em !important;
}
table td:nth-child(1) a {
    font-weight: bold !important;
}
table td:nth-child(3) {
    min-width: 5.6em !important;
}
table td {
    font-size: 0.9em !important;
}
table td:nth-child(4),
table td:nth-child(5) {
    width: 1.75em !important;
}
body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}

th,
td {
    border: none !important;
}

tr {
    border: none !important;
}

thead>tr {
    border-top: none !important;
}

th {
    border-bottom: 2px solid #dfe2e5 !important;
}

table td {
    border: none !important;
}
thead th {
    cursor: pointer !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
